.infoWindow {
    border: 1px black solid;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    margin: 20px;
    background-color: #a2a5a4;

}

.bright {
    border: 2px black solid;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    margin: 20px;
    background-color: #dce1dc;
    font-size: 18px;
}

div {
    border: 1px black solid;
}

#content {
    border: 3px #00d0d0 solid;
    background-color: #7bfada;
    padding: 5px;
    display: inline-block;
}

.miniDiv {
   display: inline-block;
    width: 150px;
    padding: 5px;
}

.infoDiv {
    float: none;
    width: 200px;
    margin: 0;
}

.line {
    background-color: #e3fff1;
    display: block;
}

#menu {
    background-color: cadetblue;
}

.lineBright {
    background-color: #b6ffec;
}

.pic {
    width: 15px;
    height: 15px;
}

.green {
    background-color: #5fe8a7;
}

.button {
    margin: auto;
}

.generalInfoWindow {
    border: none;
    display: block;
    vertical-align: top;
}

.miniDivButton {
    display: inline-block;
    width: 80px;
    padding: 5px;
}

.buttonClose {
    margin: auto;
    float: right;
    background-color: #c6c6c6;
}
.divInfoHeader {
    width: 150px;
    display: inline-block;
}
.divInfoValue {
    width: 200px;
    float: none;
}

#editForm {
    width: 400px;
    border: 1px solid black;
    display: inline-block;
}

.labelEdit {
    display: inline-block;
    width: 100px;
    border: none;
}

.editElement {
    width: 200px;
}

.buttonSave {
    float: right;
}

.editDiv {
    width: 350px;
}

#infoWindowList
{
    display: inline-block;
    vertical-align: top;
}